@if (filterNode()) {
  <div style="margin-bottom: 0.5rem;">
    <input type="text"  [(ngModel)]="searchValue" (keyup)="keyUpSearch(searchValue, $event)" (paste)="pasteSearch(searchValue, $event)"
      (cut)="cutSearch(searchValue, $event)" autocomplete="off" placeholder="Input keywords filtering" class="input_filter">
  </div>
}
@for (item of data(); track item.id; let dataIndex = $index) {
  <div class="child-item" (click)="elementClick(item)"
    [class.active]="item['isActive']"
    (contextmenu)="showContextMenu($event, item)" (mousedown)="forbiddenUserselectText()" (mouseup)="resetUserSelectText()">
    <button class="btn-item" (click)="expandCollapseClick($event, item)">
      <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24"
        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-chevron-down">
        <polyline [attr.points]="item.isExpanded?'6 9 12 15 18 9':'9 18 15 12 9 6'"></polyline>
      </svg>
    </button>
    @if(!item.rename) {
      <div>{{item.label}}</div>
    } @else {
      <div style="width: 100%;"><input #inputRef
        style="width: 100%;border: 0px;border-radius: 0px;padding: 0;" type="text"
        id="name" name="name" [(ngModel)]="item.label" (blur)="outOfRename(item)" (keydown)="outOfRename(item, $event)" [attr.data-isfresh]="item.rename" autocomplete="off"></div>
    }
  </div>
  @for (childItem of item.children; track childItem.id; let childDataIndex = $index) {
    <div class="child-item"
      [style.display]="item.isExpanded?'flex':'none'"
      (click)="elementClick(childItem);" [class.active]="(selectedNodeType() != 'root' && selectedNodeType() != 'parent') && childItem['isActive']"
      (contextmenu)="showContextMenu($event, childItem)" (mousedown)="forbiddenUserselectText()" (mouseup)="resetUserSelectText()">
      @if (childItem.children!=null&&childItem.children.length>0) {
        <button class="btn-item" (click)="expandCollapseClick($event, item)">
          <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-down">
            <polyline [attr.points]="item.isExpanded?'6 9 12 15 18 9':'9 18 15 12 9 6'"></polyline>
          </svg>
        </button>
      }
      <div style="width: 0.5rem;"></div>
      @if (childItem.symbol!=null) {
        <div
          style="display: flex;flex-direction: row;align-items: center;justify-content: flex-end;flex: 0 0 3.5rem;margin-left: 4px;margin-right: 4px;"
          [style.color]="childItem.symbolColor">
          <div style="text-align: left;font-size: 10px;">
            {{childItem.symbol}}
          </div>
        </div>
      }
      @if (childItem.symbol==null) {
        <div style="width: 1.5rem;">
        </div>
      }
      @if(!childItem.rename) {
        <div>{{childItem.label}}</div>
      } @else {
        <div style="width: 100%;"><input #inputRef
          style="width: 100%;border: 0px;border-radius: 0px;padding: 0;" type="text"
          id="name" name="name" [(ngModel)]="childItem.label" (blur)="outOfRename(childItem)" (keydown)="outOfRename(childItem, $event)" [attr.data-isfresh]="childItem.rename"  autocomplete="off"></div>
      }
    </div>
    @if ((childItem.children || []).length > 0) {
      <div ast-tree [data]="childItem.children" [dataType]="'subData'" (selectedNodeTypeOutput)="selectedNodeTypeOutputChange($event)" [selectedNodeType]="currentSelectedNodeType"></div>
    }
    <!-- <div ast-tree [data]="childItem.children" [dataType]="'subData'"></div> -->
  }
}

@if(dataType() != 'subData') {
  <div data-layer="right-menu" id="{{menuId}}" [style]="showMenuStyle" class="RightMenu more-btn-dropdown-content codigma-right-menu">
    <div data-layer="New" class="New codigma-menu-every-item" (click)="menuSelectAction('New')"><span>New</span></div>
    <div data-layer="Delete" class="Delete codigma-menu-every-item" (click)="menuSelectAction('Delete')"><span>Delete</span></div>
    <div data-layer="Rename" class="Rename codigma-menu-every-item" (click)="menuSelectAction('Rename')"><span>Rename</span></div>
    <div data-layer="Duplicate" class="Duplicate codigma-menu-every-item" (click)="menuSelectAction('Duplicate')"><span>Duplicate</span></div>
  </div>
}