:host(.more-btn-dropdown-content) {
  position: fixed;
  z-index: 1000;
  display: none;
}
:host(.codigma-right-menu) {
  align-items: flex-start;
  background: white;
  width: 336px;
  border: 1px solid #eaeaea;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 4px;
  min-width: 120px;
  font-size: 14px;
}
