<div data-layer="collection-headers" class="CollectionHeaders codigma-collection-headers">
  <div data-layer="ProjectName-cnr" class="ProjectnameCnr codigma-projectname-cnr">
    <div data-layer="ProjectName" class="Projectname codigma-projectname">Environment:</div>
  </div>
  <div data-layer="quickly-bars" class="QuicklyBars codigma-quickly-bars">
    <!-- 这个 div 添加了 tabindex="0"，可以触发 blur -->
    <div data-svg-wrapper="" data-layer="more-btn" tabindex="0" (click)="clickMoreBtn($event)"
      (blur)="blurMoreBtn($event)" class="btn-svg MoreBtn">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3.75 8.75C3.0625 8.75 2.5 9.3125 2.5 10C2.5 10.6875 3.0625 11.25 3.75 11.25C4.4375 11.25 5 10.6875 5 10C5 9.3125 4.4375 8.75 3.75 8.75ZM16.25 8.75C15.5625 8.75 15 9.3125 15 10C15 10.6875 15.5625 11.25 16.25 11.25C16.9375 11.25 17.5 10.6875 17.5 10C17.5 9.3125 16.9375 8.75 16.25 8.75ZM10 8.75C9.3125 8.75 8.75 9.3125 8.75 10C8.75 10.6875 9.3125 11.25 10 11.25C10.6875 11.25 11.25 10.6875 11.25 10C11.25 9.3125 10.6875 8.75 10 8.75Z"
          fill="black" />
      </svg>
    </div>
    <div ast-menu [display]="isOpen?'block':'none'" [menuInitiator]="menuInitiator" (mouseentermenu)="mouseentermenu($event)" (mouseleavemenu)="mouseleavemenu($event)" 
        class="more-btn-dropdown-content codigma-right-menu">
      <div data-layer="Add Server" class="AddServer codigma-menu-every-item" (click)="addServerDlg()"><span>Add
          Server</span></div>
      <div data-layer="Delete Sever" class="DeleteSever codigma-menu-every-item" (click)="deleteServerDlg()">
        <span>Delete Sever</span>
      </div>
      <div data-layer="Add Service" class="AddService codigma-menu-every-item" (click)="addServiceDlg()"><span>Add
          Service</span></div>
      <div data-layer="Delete Service" class="DeleteService codigma-menu-every-item" (click)="deleteServiceDlg()">
        <span>Delete Service</span>
      </div>
      <div data-layer="Reset Service" class="ResetService codigma-menu-every-item" (click)="resetServiceDlg()">
        <span>Reset Service</span>
      </div>
      <div data-layer="Exit" class="Exit codigma-menu-every-item" (click)="clearAuthorize(currentServer)">
        <span>Exit</span>
      </div>
    </div>
  </div>
</div>

<div ast-tree [data]="serverList" [filterNode]="true" (nodeClick)="listClick($event)" [fobiddenContextMenu]="true" style="margin-top: 0.5rem;"></div>

@if (currentServer && currentServer.data != null && shouldAuthorize) {
<div id="aside_basic_info" style="padding: 3px; border: 1px solid #96a5b4;">
  <form class="example-form" style="font-size: 0.7rem;">
    <label>Login</label>
    <input placeholder="username" name="username"
      style="height: 1.5rem; margin-top:0.5rem; border: 1px solid #96a5b4;width: 100%;"
      [(ngModel)]="currentServer.data.userName" autocomplete="off">
    <input placeholder="password" name="password" type="password"
      style="height: 1.5rem; margin-top:0.5rem; border: 1px solid #96a5b4;width: 100%;"
      [(ngModel)]="currentServer.data.passwd" autocomplete="off">
    <div style="margin-top: 0.5rem;font-size: 0.7rem;">
      <button mat-button color="primary" id="confirm_authorize_id" name="confirm_authorize_id"
        style="width: 100%;text-align: center;color: white;background-color: #5a98de;width: 100%;"
        (click)="confirmAuthorize(currentServer)">{{authorizeBtnLabel}}</button>
      <br>
    </div>
  </form>
</div>
}

<app-authorize />
<app-server-manager />
<app-service-manager />