<div data-layer="app-ui" class="AppUi codigma-app-ui">
  <div data-layer="app-header" class="AppHeader codigma-app-header">
    <div data-layer="left-app-header" class="LeftAppHeader codigma-left-app-header">
      <div data-layer="app-header-item" class="header-item">{{mainTitle}}</div>
      <!-- <div data-layer="app-header-item" class="header-item">{{mainTitle}}</div> -->
    </div>
    <div data-layer="right-app-header" class="RightAppHeader codigma-right-app-header">
      <div data-svg-wrapper=""  tabindex="0" data-layer="user-btn" class="btn-svg UserBtn" (click)="clickMoreBtn($event)"
      (blur)="blurMoreBtn($event)">
        <svg class="icon" width="24" height="24">
          <use href="assets/lib/svg_merged.svg#icon-user-btn"></use>
        </svg>
      </div>
      <div ast-menu [display]="isOpen?'block':'none'" [menuInitiator]="menuInitiator" (mouseentermenu)="mouseentermenu($event)" (mouseleavemenu)="mouseleavemenu($event)" 
          class="more-btn-dropdown-content codigma-right-menu">
        <div data-layer="User Center" class="UserCenter codigma-menu-every-item"  (click)="toggleSideBarTab(6)"><span>User Center</span></div>
        <div data-layer="Settings" class="Settings codigma-menu-every-item"  (click)="toggleSideBarTab(5)">
          <span>Settings</span>
        </div>
        <div data-layer="Login" class="Login codigma-menu-every-item">
          <span>Login</span>
        </div>
        <div data-layer="Logout" class="Logout codigma-menu-every-item">
          <span>Logout</span>
        </div>
      </div>
    </div>
  </div>
  @if(currentSidebarTab==5) {
    <app-settings></app-settings>
  } @else if(currentSidebarTab==6) {
    <div user-center></div>
  } @else {
  <div data-layer="app-body" class="AppBody codigma-app-body">
    <div data-layer="left-side-area" class="LeftSideArea codigma-left-side-area">
      <div data-layer="up-btnlist" class="UpBtnlist codigma-up-btnlist">
        <div data-svg-wrapper="" data-layer="project-folder-btn" class="btn-svg ProjectFolderBtn" (click)="toggleSideBarTab(1)">
          <svg class="icon" width="26" height="24">
            <use href="assets/lib/svg_merged.svg#icon-folder"></use>
          </svg>
        </div>
        <div data-svg-wrapper="" data-layer="search-btn" class="btn-svg SearchBtn" (click)="toggleSideBarTab(2)">
          <svg class="icon" width="26" height="25">
            <use href="assets/lib/svg_merged.svg#icon-search"></use>
          </svg>
        </div>
        <div data-svg-wrapper="" data-layer="plugins-btn" class="btn-svg PluginsBtn" (click)="toggleSideBarTab(3)">
          <svg class="icon" width="25" height="25">
            <use href="assets/lib/svg_merged.svg#icon-plugin-btn"></use>
          </svg>
        </div>
        <div data-svg-wrapper="" data-layer="network-manage" class="btn-svg NetworkManage" (click)="toggleSideBarTab(4)">
          <svg class="icon" width="25" height="25">
            <use href="assets/lib/svg_merged.svg#icon-network-manage-btn"></use>
          </svg>
        </div>
      </div>
    </div>
    <div [sideOpen]="currentSideBarStatus" [currentSidebarTab]="currentSidebarTab" ast-content></div>
    <!-- @if(currentSidebarTab==1) {
      <div [sideOpen]="currentSideBarStatus" [currentSidebarTab]="currentSidebarTab" ast-content></div>
    } @else if(currentSidebarTab==2) {
    } @else if(currentSidebarTab==3) {
    } @else if(currentSidebarTab==4) {
      <app-api-explorer [currentSidebarTab]="4" style="overflow: auto;"></app-api-explorer>
    } @else if(currentSidebarTab==5) {
    } -->
  </div>
  <div data-layer="overview-longstrip" class="OverviewLongstrip codigma-overview-longstrip">
    <div data-layer="filetype-cnr" class="FiletypeCnr codigma-methodtype">
      <div data-layer="File type" class="FileType codigma-projectname">File type</div>
    </div>
    <div data-layer="just-fill-cnr" class="JustFillCnr codigma-responsebody"></div>
    <div data-layer="status-cnr" class="StatusCnr codigma-methodtype">
      <div data-layer="Status" class="Status codigma-projectname">Status</div>
    </div>
    <div data-layer="notification-cnr" class="NotificationCnr codigma-notification-cnr">
      <div data-svg-wrapper="" data-layer="notification" class="Notification">
        <svg class="icon" width="23" height="24">
          <use href="assets/lib/svg_merged.svg#icon-notification"></use>
        </svg>
      </div>
      <div data-layer="0" class="codigma-projectname">0</div>
    </div>
  </div>
  }
</div>