<ast-modal [title]="'Authorize'"   [visible]="visible" (close)="close()">
  <div class="codigma-ast-modal-body">
    <form class="flat-form">
      <label for="username">username:</label>
      <input type="text" placeholder="username" name="username" [(ngModel)]="data.userName"
        autocomplete="off">

      <label for="password">password:</label>
      <input type="text"  placeholder="password" name="password" [(ngModel)]="data.passwd"
        autocomplete="off">
    </form>
  </div>
  <div class="codigma-describe-btns">
    <button type="submit" data-layer="confirm-btn" class="ConfirmBtn codigma-confirm-btn" (click)="confirm()">
      <div data-layer="Confirm" class="Confirm codigma-confirm">Confirm</div>
    </button>
    <button type="submit" data-layer="cancel-btn" class="CancelBtn codigma-cancel-btn" (click)="cancel()">
      <div data-layer="Cancel" class="Cancel codigma-cancel">Cancel</div>
    </button>
  </div>
</ast-modal>


<ast-modal [title]="'Authorize'"   [visible]="visible" (close)="close()">
  <div class="codigma-ast-modal-body">
    <div style="display: flex;height: 100%;">
      <span>{{contentTip}}</span>
    </div>
  </div>
  <div class="codigma-describe-btns">
    <button type="submit" data-layer="cancel-btn" class="CancelBtn codigma-cancel-btn" (click)="cancelTipDlg()">
      <div data-layer="Cancel" class="Cancel codigma-cancel">Cancel</div>
    </button>
  </div>
</ast-modal>
