/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html {
    height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
body::before,
body::after {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75%;
}

img, svg {
    vertical-align: middle;
}

.btn-svg:hover {
    background-color: #ccc;
    cursor: pointer;
}

.btn-text {
    cursor: pointer;
}


.codigma-menu-every-item {
    align-items: center;
    /* 垂直居中 */
    color: black;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 36px;
    justify-content: start;
    padding-left: 20px;
    /* 替代空 span 做缩进 */
    word-wrap: break-word;
    cursor: pointer;
}

.codigma-menu-every-item:hover {
    background-color: lightblue;
}

.custom-scroll {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

  /* WebKit */
  overflow-y: scroll; /* 确保出现滚动条 */
}

/* WebKit 专用 */
.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #ccc transparent;
  border-radius: 4px;
}

.tooltip-bubble {
  display: none;
}