:host {
    height: 100%;
    position: relative;
    background-color: var(--vscode-editor-background);
    color: var(--vscode-foreground);
}

.split-line:hover {
    background-color: var(--vscode-foreground);
    cursor: ew-resize;
}

.codigma-collection-headers {
    align-items: center;
    align-self: stretch;
    background: var(--vscode-sideBar-background);
    display: inline-flex;
    gap: 25px;
    height: 25px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid var(--vscode-editorGroup-border);
}

.codigma-projectname-cnr {
    align-items: center;
    display: flex;
    flex: 1 1 0;
    gap: 10px;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: 5px
}

.codigma-projectname {
    color: var(--vscode-foreground);
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word
}

.codigma-quickly-bars {
    align-items: center;
    display: flex;
    gap: 11px;
    justify-content: flex-start
}
.codigma-right-app-header {
  align-items: flex-end;
  display: inline-flex;
  gap: 10px;
  width: 150px;
  justify-content: flex-end;
}
#flat-form {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--vscode-editor-background);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--vscode-editorGroup-border);
}

.form-group {
    margin-bottom: 15px;
}

input[type="button"],
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--vscode-input-border);
    background-color: var(--vscode-input-background);
    color: var(--vscode-foreground);
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--vscode-focusBorder);
    outline: none;
    /* 当输入字段获得焦点时改变边框颜色 */
}

textarea:focus {
    border-color: var(--vscode-focusBorder);
    outline: none;
    /* 移除默认的焦点轮廓 */
    box-shadow: 0 0 0 1px var(--vscode-focusBorder);
}